[Unit]
Description=Course Backend - Team 2
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/nodeapps/2025/project2/t2
Environment=NODE_ENV=production
Environment=PORT=3012
Environment=BASE_PATH=/course-t2
EnvironmentFile=/home/ubuntu/nodeapps/2025/project2/t2/.env
ExecStart=/usr/bin/node server.js
Restart=on-failure
User=ubuntu

[Install]
WantedBy=multi-user.target
